.header__lang-link {
    min-width: 30px;
    min-height: 28px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 117%;
    grid-row: 2 / 3;
    transition: opacity 0.8s linear;
    color: #FFF;
}

.header__lang-link:first-of-type {
    grid-column: 3 / 4;
}

.header__lang-link:last-of-type {
    grid-column: 4 / 5;
}

.header__lang-link:hover {
    opacity: 0.3;
}

.header__lang-link:lang(ru) {
    text-decoration: underline;
}


/*
@media screen {
     :lang(ru) .header__lang-link:first-child {
        text-decoration-line: underline;
    }
     :lang(en) .header__lang-link:nth-child(2) {
        text-decoration-line: underline;
    }
}
*/

@media only screen and (max-width: 767px) {
    .header__lang-link {
        min-width: 22px;
        min-height: 20px;
        font-size: 18px;
        line-height: 111%;
    }
}