.lead {
    width: 92vw;
    max-width: 984px;
    margin: 0 auto;
    padding: 56px 0 0 0;
}

@media only screen and (max-width: 1280px) and (min-width:1024px) {
    .lead {
        width: 92vw;
        max-width: 928px;
        margin: 0 auto;
        padding: 46px 0 0 0;
    }
}

@media only screen and (max-width: 1020px) and (min-width:768px) {
    .lead {
        width: 98vw;
        max-width: 768px;
        margin: 0 auto;
        padding: 48px 0 0 0;
    }
}