.lead {
    width: 92vw;
    max-width: 984px;
    margin: 0 auto;
    padding: 56px 0 0 0;
}

@media only screen and (max-width: 1279px) and (min-width:1024px) {
    .lead {
        max-width: 928px;
        padding: 46px 0 0 0;
    }
}

@media only screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
        padding: 48px 0 0 0;
        width: 100%;
        min-width: 320px;
    }
}