.photo-grid__item {
    margin: 0;
    padding: 0;
    max-width: 284px;
    max-height: 213px;
}

@media only screen and (max-width: 1278px) and (min-width:1024px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
}

@media only screen and (max-width: 1024px) and (min-width:768px) {
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }
}

@media only screen and (max-width: 768px) {
    .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
    }
}