.header {
    display: grid;
    gap: 5px;
    grid-template-columns: 177px auto repeat(3, 31px);
    grid-auto-flow: row;
    grid-auto-columns: 31px;
    grid-template-rows: 24px 18px;
    width: 92vw;
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
}

@media only screen and (max-width: 767px) {
    .header {
        padding-top: 16px;
    }
}