.footer__link {
    margin: 0 16px 0 0;
    padding: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
    transition: opacity 0.8s linear;
}

.footer__link:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        margin: 0;
        padding: 0 0 32px 0;
    }
}