.lead__title {
    text-decoration: none;
    max-width: 720px;
    max-height: 200px;
    margin: 0 auto;
    padding: 0 0 32px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
}

@media only screen and (max-width: 768px) and (min-width:320px) {
    .lead__title {
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
        line-height: 110%;
        padding-bottom: 16px;
    }
}