.lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    margin: 0 auto;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
}

@media only screen and (max-width: 1280px) and (min-width:1024px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media only screen and (max-width: 1024px) and (min-width:768px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media only screen and (max-width: 768px) and (min-width:320px) {
    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
        line-height: 125%;
        padding-bottom: 40px;
    }
}