.lead__caption {
    margin: 0;
    padding: 0;
    max-width: 158px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
}

@media only screen and (max-width: 1023px) and (min-width:768px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    }
}