.place {
    margin: 0 auto;
    padding: 0 0 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr auto auto;
    gap: 27px;
    max-width: 984px;
}

@media only screen and (max-width: 1279px) and (min-width:1024px) {
    .place {
        max-width: 928px;
    }
}

@media only screen and (max-width: 1023px) and (min-width:768px) {
    .place {
        padding-bottom: 73px;
        max-width: 720px;
    }
}

@media only screen and (max-width: 767px) {
    .place {
        padding: 0 0 50px 0;
        grid-template-columns: 1fr;
        /* 0.3fr 0.2fr 0.3fr 0.3fr 0.3fr 0.3fr*/
        gap: 27px;
        max-width: 320px;
    }
    .place:last-of-type {
        padding: 0 0 66px 0;
    }
}