.footer {
    width: 92vw;
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 92px 0 24px;
}

@media only screen and (max-width: 767px) {
    .footer {
        max-width: 186px;
        max-height: 310px;
        margin: 0 auto 0 0;
        flex-direction: column;
        padding: 64px 0 24px;
    }
}