.place__website {
    margin: 0;
    padding: 0 0 32px 0;
    max-width: 456px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media only screen and (max-width: 1023px) and (min-width:768px) {
    .place__website {
        max-width: 352px;
    }
}

@media only screen and (max-width: 767px) {
    .place__website {
        padding-left: 16px;
        max-width: 288px;
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}